# Ignore module files
*.mod

# Ignore compiled executables
forWhoseAdvantage
modify_array
test_*
analyze_*

# Ignore other temporary or build files (optional)
*.o
*.out
*.exe
*.bin
*.obj
*.so
*.a
*.dylib

# IDE directories
.vscode/
.idea/

# Ignore directories (optional)
build/
bin/
